$nav-bg: #f5f5f5;
$nav-border: #ddd;
$section-padding: 20px;
@import "../../styles/responsive.scss";
$tablet-resize: 900px;

.exam-info-sj {
  .exam-info-nav-sj {
    width: 95%;
    margin: 0 auto;
    display: flex;
    // gap: 5px;
    border-bottom: 1px solid $nav-border;
    button {
      // width: 25%;
      background: none;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      color: #333;
      border: 1px solid $nav-border;
      border-bottom: 0;
      border-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #04364a;
      color: #cdd0d1;
      @include responsive($tablet-resize) {
        width: unset;
      }
      &:hover {
        background-color: #e55604;
        color: #fff;
      }
    }
  }
  .exam-InfoTab-Active {
    background-color: #e55604 !important;
    color: #fff !important;
  }
  .exam-section-sj {
    border-bottom: 1px solid $nav-border;
    width: 95%;
    margin: 0 auto;
    &:nth-last-child(1) {
      border: none;
    }
    h2 {
      font-size: 24px;
      color: #333;
      padding: 20px 0;
    }
    p {
      font-size: 16px;
      color: #555;
    }

    .introduction-item {
      margin-bottom: 20px;

      .date {
        font-size: 14px;
        color: #888;
        margin-bottom: 5px;
      }

      .title {
        font-size: 18px;
        color: #333;
        margin-bottom: 5px;
      }

      .description {
        font-size: 16px;
        color: #555;
        line-height: 1.5;
      }

      &:not(:last-child) {
        border-bottom: 1px dashed $nav-border;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    .exam-form {
      @include responsive($tablet-resize) {
        margin-top: 0;
        min-height: 65vh;
      }
    }
  }
  .RegistrationPageBtn {
    width: 60%;
    display: block;
    margin: 20px 0;
    padding: 12px;
    background: #04364a;
    justify-self: center;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;

    @include responsive($tablet-resize) {
      width: 20%;
    }
    &:hover {
      background: #e55604;
    }
  }
}
