@import "../../styles/responsive.scss";
$tablet-resize: 900px;

.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 95px auto 0;
  padding: 50px 0;
  padding: 50px 15px;
  background-color: #f5f5f5;
  width: 90%;
  margin: 0 auto;
  @include responsive($tablet-resize){
    width: 50%;
  }
  h2 {
    color: #04364a;
    font-size: 24px;
    margin-bottom: 2rem;
    
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 1rem;

    .input-group {
      input {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        color: #333;
        background-color: #fff;
        text-align: right;

        &::placeholder {
          color: #999;
          font-size: 0.9rem;
        }

        &:focus {
          outline: none;
          border-color: #04364a;
        }
      }
    }

    .submit-button {
      display: block;
      text-align: center;
      padding: 0.8rem;
      background-color: #04364a;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1rem;
      margin-top: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e55604;
      }
    }
  }
}
