.ProfileMain-Container {
  width: 100%;
  max-height: 80vh;
  border-radius: 0 0 10px 10px;
  position: relative;
  .homeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: 0;
    background-color: #04364a;
    border: 0;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #dafffb;
      width: 100%;
      svg {
        font-size: 32px;
      }
    }
    &:hover {
      background-color: #e55604;
    }
  }
  .profilePersonalDetails {
    .examSignUpForm-Contaner {
      margin-top: 50px;
    }
    .homeBtn {
      display: none;
    }
  }
  .passwordChangingPart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
