@import "../../../styles/responsive.scss";
$tablet-resize: 900px;
.bannerPart {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 100px 0;
  flex-direction: column;
  @include responsive($tablet-resize) {
    flex-direction: row-reverse;
    gap: 20px;
  }
  @include responsive($laptop) {
    padding: 160px 0 100px;
    height: 100vh;
  }

  .banner_ImagePart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    img {
      width: 100%;
      border-radius: 10px;
    }
    @include responsive($tablet-resize) {
      width: 50%;
      margin: 0;
      justify-content: flex-end;
    }
  }
  .banner-SloganPart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
    @include responsive($tablet-resize) {
      width: 50%;
    }
    .sloganTitle {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      @include responsive($laptop){
          align-items: flex-start;
      }
      h1 {
        font-size: 31px;
        line-height: 35px;
        margin-bottom: 66px;
        color: #04364a;
        text-align: center;
      }
      p {
        display: flex;
        gap: 3px;
        line-height: 30px;
        color: #04364ad0;
        margin: 22px 0;
        font-size: 22px;
        // text-align: center;
        justify-content: center;
        font-weight: 900;
        @include responsive($laptop){

        }
        svg {
          color: #e55604;
          font-size: 18px;
        }

      }
    }

    .sloganBtns {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
      @include responsive($tablet) {
        flex-direction: row;
      }
      button {
        background: 0;
        background-color: #04364a;
        border: 0;
        color: #dafffb;
        padding: 15px 0;
        width: 100%;
        border-radius: 20px;
        font-size: 14px;
        @include responsive($tablet) {
          font-size: 16px;
          width: 50%;
          height: 80px;
          padding: 15px 5px;
        }
      }
    }
  }
}
// .bannerPartB{
//   width: 100%;
//   position: relative;
//   max-height: 100vh;
//   margin-top: 100px;
//   .banner_ImagePartB{
//      max-height: 100vh;

//   width: 100%;
//     img{
//       width: 100%;
//        max-height: 100vh;

//     }
//   }
//   .bannerCoverB{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     right: 0;
//     background-color: black;
//   }
// }
