@import "../../../styles/responsive.scss";

$tablet-resize: 900px;

.exam-form {
  width: 100%;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }
  @include responsive($tablet-resize) {
    margin-top: 100px;
    min-height: 90vh;
    justify-content: center;
  }
  .search-form {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    @include responsive($tablet) {
      width: 80%;
    }
    @include responsive($tablet-resize) {
      width: 80%;
      flex-direction: row;
    }
    .tutorial-icon {
      position: absolute;
      color: #255162ac;
      top: 8px;
      right: 10px;
    }
    .searchForm-side {
      padding: 40px 20px;
      width: 100%;
      background-color: #04364add;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      @include responsive($tablet-resize) {
        width: 40%;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h2 {
        color: #dafffb;
        text-align: right;
        margin-bottom: 30px;
      }
      p {
        color: #ffffffab;
        font-size: 16px;
        line-height: 28px;
        @include responsive($tablet-resize) {
          line-height: 31px;
        }
      }
      .search-button {
        width: 50%;
        display: block;
        margin: 20px auto;
        padding: 0.7rem;
        background-color: #e55604;
        color: #dafffb;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 50px;

        &:hover {
          background-color: #e55604d6;
          color: #fff;
        }
      }
    }
    .searchForm-side-single {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      padding: 40px;
      align-self: center;
      // height: 70vh;
      @include responsive($tablet) {
        padding: 40px 20px;
        gap: 60px;
      }
      h2 {
        // text-align: center;
        font-size: 30px;
      }
      p {
        width: 90%;
        @include responsive($tablet) {
          width: 100%;
          text-align: center;
        }
      }
      .search-button {
        width: 30%;
        align-self: self-start;
        margin-top: 0;
        @include responsive($tablet) {
          width: 20%;
        }
      }
    }
    .formContent {
      width: 100%;
      padding: 20px;
      border: 1px solid #ddd;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: #f9f9f9;
      row-gap: 20px;
      @include responsive($tablet-resize) {
        width: 60%;
        padding: 40px 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .search-button {
        width: 50%;
        display: block;
        margin: 20px auto;
        padding: 0.7rem;
        background-color: #e55604;
        color: #dafffb;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 50px;

        &:hover {
          background-color: #e55604d6;
          color: #fff;
        }
      }
      .form-group {
        margin-bottom: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
        }

        select,
        input,
        .custom-date-input {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;

          &:focus {
            outline: none;
            border-color: #000080;
          }
        }
        select {
          option:hover {
            background-color: #f2784b !important;
          }
        }
        .radio-group {
          display: flex;
          gap: 10px;
          label {
            --form-control-color: #e55604;
            line-height: 1.1;
            font-size: 16px;
            font-weight: 400;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
            input {
              appearance: none;
              background-color: #fff;
              margin: 0;
              font: inherit;
              color: currentColor;
              width: 1.15em;
              height: 1.15em;
              border: 0.15em solid currentColor;
              border-radius: 50%;
              transform: translateY(-0.075em);
              display: grid;
              place-content: center;
            }
            input::before {
              content: "";
              width: 0.65em;
              height: 0.65em;
              border-radius: 50%;
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              box-shadow: inset 1em 1em #e55604;
            }
            input[type="radio"]:checked::before {
              transform: scale(1);
            }
          }
        }
      }

      .Experience {
        @include responsive($tablet-resize) {
          align-self: flex-end;
        }
      }

      .form-grid {
        display: flex;
        flex-direction: column;
        @include responsive($tablet-resize) {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 1.5rem;
        }
      }

      .toggle-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        .toggle {
          width: 40px;
          height: 20px;
          border-radius: 20px;
          background-color: #ccc;
          position: relative;
          transition: 0.3s;

          &.active {
            background-color: #e55604;

            &:after {
              left: 20px;
            }
          }

          &:after {
            content: "";
            width: 18px;
            height: 18px;
            background: white;
            position: absolute;
            top: 1px;
            left: 1px;
            border-radius: 50%;
            transition: 0.3s;
          }
        }

        span {
          font-size: 1rem;
        }
      }
    }
  }
  .result-container {
    width: 100%;
  }
}