.document-review-result {
  padding: 30px;
  direction: rtl;
  max-width: 800px;
  margin: 0 auto;

  .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    color: #2c3e50;

    @media (max-width: 600px) {
      font-size: 24px;
    }
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;

    .tab {
      padding: 8px 16px;
      background-color: #e5e7eb;
      color: #6b7280;
      border: none;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      white-space: nowrap;
        position: relative;

      &.active {
        background-color: #ffffff;
        color: #04364a;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      &:hover {
        background-color: #e9ecef;
        transform: translateY(-2px);
      }

      @media (max-width: 600px) {
        padding: 10px 15px;
        font-size: 14px;
        min-width: 80px;
      }
    }

    @media (max-width: 600px) {
      gap: 10px;
    }
  }

  .tab-content-wrapper {
    padding: 25px;
    // border: 1px solid #e9ecef;
    // border-radius: 10px;
    background-color: #fff;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    min-height: 250px;

    .tab-content {
      text-align: center;
      font-size: 18px;
      color: #34495e;

      svg {
        font-size: 40px;
        margin-bottom: 10px;
      }

      &.approved {
        svg {
          color: #27ae60;
        }
        p {
          color: #04364a;
          font-weight: 600;
        }
      }

      &.rejected {
        svg {
          color: #c0392b;
        }
        p {
          color: #04364a;
          font-weight: 600;
        }

        .details-button {
          margin-top: 15px;
          padding: 10px 20px;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          background-color: #04364a;
          &:hover {
            background-color: #e55604;
          }
        }

        .rejection-details {
          margin-top: 20px;
          font-size: 16px;
          color: #7f8c8d;
          line-height: 1.6;
          text-align: center;
        }
      }

      &.incomplete {
        svg {
          color: #e55604;
        }
        p {
          color: #04364a;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .deadline-info {
          margin-bottom: 20px;
          font-size: 16px;
          color: #2c3e50;
          text-align: right;
          display: flex;
          justify-content: center;
          gap: 50px;

          p {
            margin: 5px 0;
            font-weight: 400;
          }
        }

        .documents-table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0;
          margin-bottom: 20px;
          background-color: #fff;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

          th,
          td {
            padding: 15px;
            text-align: center;
            font-size: 16px;
            color: #2c3e50;

            @media (max-width: 600px) {
              padding: 10px;
              font-size: 14px;
            }
          }

          th {
            background-color: #04364a;
            color: white;
            font-weight: 600;
            // border-bottom: 2px solid #0056b3;
          }

          td {
            background-color: #f8f9fa;
            border-bottom: 1px solid #e9ecef;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #e9ecef;
            }
          }

          tr:last-child td {
            border-bottom: none;
          }

          .upload-button-wrapper {
            display: flex;
            justify-content: center;

            .upload-button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 36px;
              height: 36px;
              background-color: transparent;
              color: #7f8c8d;
              border: none;
              border-radius: 50%;
              cursor: pointer;
              transition: all 0.3s ease;

              svg {
                color: #7f8c8d;
                font-size: 18px;
              }

              &:hover {
                color: #5a6268;
                transform: scale(1.1);
              }
            }
          }
        }

        .details-button {
          margin-top: 20px;
          padding: 10px 20px;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          background-color: #04364a;
          &:hover {
            background-color: #e55604;
          }
        }

        .incomplete-details {
          margin-top: 20px;
          font-size: 16px;
          color: #7f8c8d;
          line-height: 1.6;
          text-align: center;
        }
      }

      &.inperson {
        svg {
          color: #04364a;
        }
        p {
          color: #04364a;
          font-weight: 400;
          margin-bottom: 20px;
          text-align: center;

          .bold {
            color: #e55604;
          }
        }

        .details-button {
          margin-top: 15px;
          padding: 10px 20px;

          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          background-color: #04364a;
          &:hover {
            background-color: #e55604;
          }
        }

        .inperson-details {
          margin-top: 20px;
          font-size: 16px;
          color: #7f8c8d;
          line-height: 1.6;
          text-align: center;
        }
      }
    }
  }
}
