@import "../../../styles/responsive.scss";

$tablet-resize: 900px;

.job-selection {
  width: 100%;
  margin: 0 auto;
  @include responsive($tablet) {
    width: 80%;
  }
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    button {
      padding: 10px 20px;
      border: none;
      width: 50%;
      background-color: #04364a;
      color: white;
      @include responsive($tablet) {
        width: 40%;
      }

      cursor: pointer;
      &.active {
        background-color: #e55604;
      }
    }
    .manual {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .smart {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .table-container {
    text-align: center;

    .job-table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
      }
      th {
        background-color: #f4f4f4;
      }
    }
  }
  .selected-job-info {
    margin: 10px 0;
    color: #e55604;
    font-size: 14px;
    strong {
      color: #555;
      margin-left: 3px;
      font-size: 16px;
    }
  }
  .JobLocSelectBtn {
    display: block;
    margin: 20px 0;
    padding: 12px;
    background: #04364a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    &:hover {
      background: #e55604;
    }
    @include responsive($tablet) {
      width: 20%;
    }
  }
  .disabled-btn {
    background: #04364ac9;
    cursor: not-allowed;
    &:hover {
      background-color: #555555a4;
    }
  }
}
