// متغیرهای رنگ و انیمیشن
$skeleton-bg: #e0e0e0;
$skeleton-shimmer: #f5f5f5;
$animation-duration: 1.5s;

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-container {
  width: 90%;
  height: 100vh;
  margin: 80px auto 0;

  .skeleton-header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .skeleton-btn {
      width: 100px;
      height: 40px;
      background: $skeleton-bg;
      border-radius: 8px;
      background-image: linear-gradient(
        90deg,
        $skeleton-bg 0%,
        $skeleton-shimmer 50%,
        $skeleton-bg 100%
      );
      background-size: 200px 100%;
      animation: shimmer $animation-duration infinite linear;
    }
  }

  // باکس‌های اطلاعاتی
  .skeleton-info-boxes {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 50px;
    .skeleton-info-box {
      width: 150px;
      height: 50px;
      background: $skeleton-bg;
      border-radius: 8px;
      background-image: linear-gradient(
        90deg,
        $skeleton-bg 0%,
        $skeleton-shimmer 50%,
        $skeleton-bg 100%
      );
      background-size: 200px 100%;
      animation: shimmer $animation-duration infinite linear;
    }
  }

  // دکمه‌های عملیاتی
  .skeleton-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .skeleton-action-btn {
      width: 80px;
      margin-top: 50px;
      height: 50px;
      background: $skeleton-bg;
      border-radius: 8px;
      background-image: linear-gradient(
        90deg,
        $skeleton-bg 0%,
        $skeleton-shimmer 50%,
        $skeleton-bg 100%
      );
      background-size: 200px 100%;
      animation: shimmer $animation-duration infinite linear;
    }
  }

  .skeleton-content {
    margin-top: 50px;
    .skeleton-title {
      width: 200px;
      height: 20px;
      background: $skeleton-bg;
      border-radius: 4px;
      margin-bottom: 10px;
      background-image: linear-gradient(
        90deg,
        $skeleton-bg 0%,
        $skeleton-shimmer 50%,
        $skeleton-bg 100%
      );
      background-size: 200px 100%;
      animation: shimmer $animation-duration infinite linear;
    }

    .skeleton-text {
      width: 100%;
      height: 15px;
      background: $skeleton-bg;
      border-radius: 4px;
      margin-bottom: 8px;
      background-image: linear-gradient(
        90deg,
        $skeleton-bg 0%,
        $skeleton-shimmer 50%,
        $skeleton-bg 100%
      );
      background-size: 200px 100%;
      animation: shimmer $animation-duration infinite linear;

      &:last-child {
        width: 80%;
      }
    }
  }
}
